  <%- include('../partials/header.ejs') %>
  <h1>All Cats</h1>
  <% if (cats.length) { %>
    <ul class="showUl">
      <% cats.forEach(cat => { %>
        <li class="showLi">
          <div class="cat-item">
            <img src="<%= cat.photo %>" alt="<%= cat.name %>" class="showImg">
            <div class="cat-details">
              <a href="/cats/showCat/<%= cat._id %>" class="showCat">
                <h2><%= cat.name %></h2>
              </a>
            </div>
          </div>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No cats available</p>
  <% } %>
  <%- include('../partials/footer.ejs') %>