    <%- include('../partials/header.ejs') %>
    <h1><%= cat.name %></h1>
    <ol>
        <li class="instructions">
            <strong>Breed:</strong> 
            <p> <%= cat.breed %></p>
        </li>
        <li class="instructions">
            <strong>Age:</strong>
            <p> <%= cat.age %></p>
        </li>
        <li class="instructions">
            <strong>Birthday</strong>
            <p><%= cat.birthday.toLocaleDateString() %></p>
        </li>
        <li class="instructions">
            <strong>Photo:</strong>
            <img src="<%= cat.photo %>" alt="<%= cat.name %>" class="showImg">
        </li>
    </ol>
    <%- include('../partials/footer.ejs') %>
